

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {

  position: flex;
}



h1{
	text-align: center;
}

#natural{
	font-size : 5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:lime;

}
#corner{
	
	font-size : 5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:green;
	text-align: center;
	position : relative;
	left: 0.5em;
	
}
#naturalCommands{
	font-size : 2em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:lime;

}
#cornerCommands{
	
	font-size : 2.5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:green;
	text-align: center;
	position : relative;
	left: 0.5em;
	
}





