

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {
  background-color:honeydew;
  position: flex;

}

h1{
	text-align: center;
}

#natural{
	font-size : 5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:lime;

}
#corner{
	
	font-size : 5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:green;
	text-align: center;
	position : relative;
	left: 0.5em;
	
}
#naturalCommands{
	font-size : 2em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:lime;

}
#cornerCommands{
	
	font-size : 2.5em;
	font-family: "impact", Garamond, 'Comic Sans';
	color:green;
	text-align: center;
	position : relative;
	left: 0.5em;
	
}
/* #header{ */
/* 	position:absolute; */
/* 	top:0; */
/* 	bottom:0; */
/* 	left:0; */
/* 	right:0; */
/* 	z-index:99999; */
/* } */



