

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{
	background-color: lightgreen;
}

h1{
	color:green;
	text-align: center;
}







